/** {
	transition: all ease 1.5s;
}*/
html {
	margin: 0 auto;
	font-family: "helvetica neue",arial,sans-serif;
}
body {
	background-color: #E9E9E9;
	margin: 0 auto;
}

/*//////////*/
/*NAVIGATION*/
/*//////////*/

nav {
	width: 100vw;
	height: 52px;
	background-color: #FFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
	position: fixed;
}
#nav-content {
	padding: 8px 0 0 0;
	margin: auto;
	width: 1350px;
}
button {
	height: 34px;
	border: 1px solid #D4D4D4;
	border-radius: 6px 0 0 6px;
	background-color: #FCFCFC;
	z-index: 9;
}
.ion-social-pinterest {
	padding: 0 2px;
	font-size: 25px;
	color: #CB1F27;
}
#nav-search > input {
	position: relative;
	bottom: 4px;
	right: 5px;
	height: 32px;
	width: 960px;
	background-color: #E9E9E9;
	border: 1px solid #D4D4D4;
	color: #A9A9A9;
	font-size: 16px;
	padding: 0 0 0 15px;
	z-index: 1;
}
#nav-search {
	width: 100%;
}
#nav-search-dropdown {
	border: 1px solid #D4D4D4;
	border-radius: 0 6px 6px 0;
	background-color: #FCFCFC;
	padding: 7px 10px 7px 10px;
	position: relative;
	bottom: 4px;
	right: 12px;
}
.ion-navicon-round {
	font-size: 20px;
	color: #B8B8B8;
}
.ion-arrow-down-b {
	position: relative;
	bottom: 3px;
	left: 5px;
	font-size: 10px;
	color: #B8B8B8;
}
#nav-user-info {
 float: right;
 width: 215px;
 background-color: #F9F9F9;
 border-radius: 6px 0 0 6px;
 border: 1px solid #D4D4D4;
 position: relative;
 bottom: 38px;
 right: 42px;
 height: 22px;
 padding: 3px 0 8px 8px;
}
#nav-username {
	color: #818181;
	border-radius: 6px 0 0 6px;
	font-size: 16px;
}
#nav-user-info-notification {
	height: 33px;
	float: right;
	background-color: #F9F9F9;
	border: 1px solid #D4D4D4;
	width: 40px;
	border-radius: 0 6px 6px 0;
	position: relative;
	bottom: 4px;
	left: 42px;
	background-image: url(./images/PinterestNotificationIcon.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center; 
}
#nav-username > img {
	height: 20px;
	padding: 0 8px 0 0;
	position: relative;
	top: 4px;
	right: 0;
}
/*//////////////////////////////*/
/* 	FIXED BOTTOM RIGHT BUTTONS 	*/
/*//////////////////////////////*/

.bottom-right-buttons {
	position: fixed;
	bottom: 0;
	right: 0;
}
.bottom-right-buttons ul {
	list-style-type: none;
	margin: 0 25px 50px 0;
}
.bottom-right-buttons li {
	margin: 20px;
	background-color: #FFFFFF;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}
.bottom-right-buttons li:hover {
	cursor: pointer;
}
.bottom-right-buttons .ion-plus-round {
	font-size: 22px;
	color: #A0A0A0;
	position: relative;
	top: 3px;
	right: 0;
}
.bottom-right-buttons .ion-help {
	font-size: 20px;
	color: #A0A0A0;
	position: relative;
	top: 4px;
	right: 0;
}
.bottom-right-buttons li:hover {
	background-color: #F7F7F7;
}
/*//////////*/
/* 	STREAM 	*/
/*//////////*/

#explore-stream {
	width: 98vw;
	margin: auto;
	padding-top: 60px;
	margin-bottom: 60px;
	transition: all ease-in .5s;
}
.card-grid {
	margin: auto;
	width: 1350px;
	-webkit-column-count: 5;
	-webkit-column-width: 100px;
	-webkit-column-gap: 10px;
	-moz-column-count: 5;
	-moz-column-width: 100px;
	-moz-column-gap: 5px;
	column-count: 5;
	column-width: 100px;
	column-gap: 5px;
	padding-bottom: 20px;
}
.card {
	margin: auto;
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	width: 258px;
	margin: 10px 0 4px 0;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.card > img {
	width: 258px;
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid #E7E7E7;
}
.description {
	font-weight: 200;
	border-bottom: 1px solid #E7E7E7;
	padding: 0 0 0 12px;
	font-size: 12px;
}
.pinner {
	margin: 10px;
	font-size: 11px;
}
.pinner img {
	padding: 0 10px 10px 0;
	height: 30px;
	float: left;
}
#pinner-name {
	color: #999999;
	margin-bottom: 10px;
}
#pin-board {
	color: #717171;
}

/*//////////////////*/
/* 	ADD PIN MODAL 	*/
/*//////////////////*/

.add-pin-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(240,240,240,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	border-radius: 6px;
}
.add-pin-content {
	width: 500px;
	height: 500px;
	position: relative;
	margin: 10% auto;
	/*padding: 5px 20px 13px 20px;*/
	border-radius: 10px;
	background: #F4F4F4;
}
.show-add-pin-modal {
	opacity: 1;
}
.add-pin-content > h1 {
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 15px 0 15px 0;
	border-bottom: 1px solid #E7E7E7;
	border-radius: 10px 10px 0 0;
}
#add-pin-form > input {
	z-index: 99999;
	width: 400px;
	border-radius: 6px;
	background-color: white;
}
#add-pin-submit {
	border-radius: 6px;
	background-color: #CB1F27;
	color: white;
}

/*//////////////////*/
/* 	MEDIA QUERIES 	*/
/*//////////////////*/

@media screen and (max-width: 1400px) {
	#nav-content {
		width: 1076px;
	}
	#nav-search > input {
		width: 700px;
	}
	.card-grid {
		width: 1076px;
		-webkit-column-count: 4;
		-webkit-column-width: 100px;
		-webkit-column-gap: 5px;
		-moz-column-count: 4;
		-moz-column-width: 100px;
		-moz-column-gap: 5px;
		column-count: 4;
		column-width: 100px;
		column-gap: 5px;
	}
}
@media screen and (max-width: 1100px) {
	#nav-content {
		width: 810px;
	}
	#nav-search > input {
		width: 432px;
	}
	.card-grid {
		width: 810px;
		-webkit-column-count: 3;
		-webkit-column-width: 100px;
		-webkit-column-gap: 5px;
		-moz-column-count: 3;
		-moz-column-width: 100px;
		-moz-column-gap: 5px;
		column-count: 3;
		column-width: 100px;
		column-gap: 5px;
	}
}