/** {
	transition: all ease 1.5s;
}*/
html {
	margin: 0 auto;
	font-family: "helvetica neue",arial,sans-serif;
}
body {
	background-color: #E9E9E9;
	margin: 0 auto;
}

/*//////////*/
/*NAVIGATION*/
/*//////////*/

nav {
	width: 100vw;
	height: 52px;
	background-color: #FFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
	position: fixed;
}
button {
	margin: 10px 0 0 25px;
	height: 34px;
	border: 1px solid #D4D4D4;
	border-radius: 6px 0 0 6px;
	background-color: #FCFCFC;
	z-index: 9;
}
.ion-social-pinterest {
	padding: 0 2px;
	font-size: 25px;
	color: #CB1F27;
}
input {
	position: relative;
	bottom: 4px;
	right: 5px;
	height: 32px;
	width: 55vw;
	background-color: #E9E9E9;
	border: 1px solid #D4D4D4;
	color: #A9A9A9;
	font-size: 16px;
	padding: 0 0 0 15px;
	z-index: 1;
}
#nav-search-dropdown {
	border: 1px solid #D4D4D4;
	border-radius: 0 6px 6px 0;
	background-color: #FCFCFC;
	padding: 7px 10px;
	position: relative;
	bottom: 4px;
	right: 12px;
}
.ion-navicon-round {
	font-size: 20px;
	color: #B8B8B8;
}
.ion-arrow-down-b {
	position: relative;
	bottom: 3px;
	left: 5px;
	font-size: 10px;
	color: #B8B8B8;
}
#nav-user-info {
 float: right;
 width: 200px;
 background-color: #F9F9F9;
 border-radius: 6px 0 0 6px;
 border: 1px solid #D4D4D4;
 position: relative;
 bottom: 38px;
 right: 100px;
 height: 22px;
 padding: 7px 0 3px 30px;
}
#nav-username {
	color: #818181;
	border-radius: 6px 0 0 6px;
	font-size: 16px;
}
#nav-user-info-notification {
	padding: 5px 0 3px 20px;
	float: right;
	background-color: #F9F9F9;
	border: 1px solid #D4D4D4;
	width: 30px;
	border-radius: 0 6px 6px 0;
	position: relative;
	bottom: 8px;
	left: 42px;
}
.ion-pin {
 	color: #B8B8B8;
 	font-size: 20px;
 }

/*//////////////////////////////*/
/* 	FIXED BOTTOM RIGHT BUTTONS 	*/
/*//////////////////////////////*/

.bottom-right-buttons {
	position: fixed;
	bottom: 0;
	right: 0;
}
.bottom-right-buttons ul {
	list-style-type: none;
	margin: 0 25px 50px 0;
}
.bottom-right-buttons li {
	margin: 20px;
	background-color: #FFFFFF;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}
.bottom-right-buttons li:hover {
	cursor: pointer;
}
.bottom-right-buttons i {
	font-size: 24px;
	color: #A0A0A0;
}

/*//////////*/
/* 	STREAM 	*/
/*//////////*/

#explore-stream {
	width: 98vw;
	margin: auto;
	padding-top: 60px;
	margin-bottom: 60px;
}
.card-grid {
	margin: auto;
	-webkit-column-count: 4;
	-webkit-column-width: 263px;
	-webkit-column-gap: 5px;
	-moz-column-count: 4;
	-moz-column-width: 263px;
	-moz-column-gap: 5px;
	column-count: 4;
	column-width: 263px;
	column-gap: 5px;
}
.card {
	margin: auto;
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	width: 263px;
	margin: 10px 0 0 0;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.card > img {
	width: 263px;
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid #E7E7E7;
}
.description {
	font-weight: 200;
	border-bottom: 1px solid #E7E7E7;
	padding: 0 0 0 25px;
	font-size: 12px;
}
.pinner {
	padding: 0 0 5px 25px;
	font-size: 12px;
}